
        body, html {
            background-color: grey;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            height: 100%;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-color: #f0f0f0;
        }
        .card {
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 90%;
            max-width: 600px;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }
        h2 {
            color: #333;
            margin-bottom: 10px;
        }
        p {
            color: #666;
            margin-bottom: 20px;
        }
        .input-container {
            position: relative;
            margin-bottom: 20px;

            @media (max-width: 768px){
                width: 50%;
            }
        }
        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            background-color: #00bcd4;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            align-self: flex-start;
        }
        .content-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        .text-content {
            flex: 1;
            padding-right: 20px;
        }
        .image-container {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img {
            width: 50%;
            height: 50%;
        }
       
        @media (max-width: 768px) {
            .content-wrapper {
                flex-direction: column;
            }
            .text-content, .image-container {
                width: 100%;
                padding-right: 0;
            }
            .image-container {
                margin-top: 0;

                
            }
           

        }
